<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
  <!-- 自动扫描 -->
  <context:component-scan base-package="com.weitao" />
  <!-- 引入配置文件 -->
  <context:property-placeholder location="classpath:db.properties"/>
  <!--配置数据源，c3p0连接池-->
  <bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    <property name="jdbcUrl" value="${jdbc.url}"/>
    <property name="driverClass" value="${jdbc.driver}"/>
    <property name="user" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>
  </bean>

  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <!--配置mybatis文件地址-->
    <property name="configLocation" value="classpath:mybatis.xml"/>
    <!--加载数据源-->
    <property name="dataSource" ref="pooledDataSource"/>
    <!--配置mapper文件地址-->
    <property name="mapperLocations" value="classpath:mapper/*.xml"/>
  </bean>

  <!--配置扫描器-->
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    <!--扫描所有mapper接口,加到ioc容器中-->
    <property name="basePackage" value="com.weitao.dao"/>
    <property name="sqlSessionFactoryBeanName" value="SqlSessionFactory" />
  </bean>

  <!--事务管理-->
  <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <!--注入数据源，管理数据库-->
    <property name="dataSource" ref="pooledDataSource"/>
  </bean>
  <!--配置事务增强-->
  <tx:advice id="txAdvice" transaction-manager="transactionManager">
    <!--事务操作-->
    <tx:attributes>
      <!--所有方法都是事务（传播行为）-->
      <tx:method name="*"/>
      <!--以get方法的事务-->
      <tx:method name="get*" read-only="true"/>
    </tx:attributes>
  </tx:advice>
  <!--开启aop注解事务-->
  <aop:config>
    <!--配置切入点（被增强）-->
    <aop:pointcut id="txPoint" expression="execution(* com.weitao.service.serviceImpl.*.*(..))"/>
    <!--配置切点-->
    <aop:advisor advice-ref="txAdvice" pointcut-ref="txPoint"/>
  </aop:config>
</beans>