<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weitao.dao.CollectionMapper">

  <!--查找用户uId的所有收藏且商品状态为正常的商品-->
  <select id="selectAllItemsOfCollectionByUid" resultType="com.weitao.bean.ItemsCollection">
    select i_photos,i_name,i_price,c_id,items_id
    from collection,items
    where user_id=#{uId} and i_status=0 and items_id=i_id
  </select>

  <!--根据收藏夹的主键cId删除收藏商品-->
  <delete id="deleteCollectionByCid">
    delete from collection where c_id=#{cId}
  </delete>

  <!--商品在商品页面将商品加入收藏夹-->
  <insert id="insertCollection">
    insert into collection (user_id, items_id) values (#{uId},#{iId})
  </insert>

  <!--判断商品是否已经收藏-->
  <select id="isExistCollection" resultType="Integer">
    select count(*) from(
    select *
    from collection
    where items_id=#{iId} and user_id=#{uId}
    )as total
  </select>
</mapper>