<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weitao.dao.ManagerMapper">
  <resultMap id="BaseResultMap" type="com.weitao.bean.Manager">
    <id column="m_id" jdbcType="INTEGER" property="mId" />
    <result column="m_password" jdbcType="VARCHAR" property="mPassword" />
    <result column="m_authority" jdbcType="TINYINT" property="mAuthority" />
  </resultMap>
  <sql id="Base_Column_List">
    m_id, m_password, m_authority
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manager
    where m_id = #{mId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manager
    where m_id = #{mId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.weitao.bean.Manager">
    insert into manager (m_id, m_password, m_authority
      )
    values (#{mId,jdbcType=INTEGER}, #{mPassword,jdbcType=VARCHAR}, #{mAuthority,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.weitao.bean.Manager">
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        m_id,
      </if>
      <if test="mPassword != null">
        m_password,
      </if>
      <if test="mAuthority != null">
        m_authority,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="mPassword != null">
        #{mPassword,jdbcType=VARCHAR},
      </if>
      <if test="mAuthority != null">
        #{mAuthority,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weitao.bean.Manager">
    update manager
    <set>
      <if test="mPassword != null">
        m_password = #{mPassword,jdbcType=VARCHAR},
      </if>
      <if test="mAuthority != null">
        m_authority = #{mAuthority,jdbcType=TINYINT},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weitao.bean.Manager">
    update manager
    set m_password = #{mPassword,jdbcType=VARCHAR},
      m_authority = #{mAuthority,jdbcType=TINYINT}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
</mapper>