<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weitao.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.weitao.bean.Order">
        <id column="o_id" jdbcType="INTEGER" property="oId"/>
        <result column="o_post" jdbcType="TINYINT" property="oPost"/>
        <result column="o_price" jdbcType="DECIMAL" property="oPrice"/>
        <result column="o_date" jdbcType="TIMESTAMP" property="oDate"/>
        <result column="o_status" jdbcType="TINYINT" property="oStatus"/>
        <result column="o_message" jdbcType="VARCHAR" property="oMessage"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="seller_id" jdbcType="INTEGER" property="sellerId"/>
        <result column="store_id" jdbcType="INTEGER" property="storeId"/>
    </resultMap>
    <sql id="Base_Column_List">
        o_id, o_post, o_price, o_date, o_status, o_message, user_id, seller_id, store_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `order`
        where o_id = #{oId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM order
        WHERE o_id = #{oId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.weitao.bean.Order">
        INSERT INTO order (o_id, o_post, o_price,
                           o_date, o_status, o_message,
                           user_id, seller_id, store_id
        )
        VALUES (#{oId,jdbcType=INTEGER}, #{oPost,jdbcType=TINYINT}, #{oPrice,jdbcType=DECIMAL},
                #{oDate,jdbcType=TIMESTAMP}, #{oStatus,jdbcType=TINYINT}, #{oMessage,jdbcType=VARCHAR},
                #{userId,jdbcType=INTEGER}, #{sellerId,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.weitao.bean.Order">
        insert into order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oId != null">
                o_id,
            </if>
            <if test="oPost != null">
                o_post,
            </if>
            <if test="oPrice != null">
                o_price,
            </if>
            <if test="oDate != null">
                o_date,
            </if>
            <if test="oStatus != null">
                o_status,
            </if>
            <if test="oMessage != null">
                o_message,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="sellerId != null">
                seller_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oId != null">
                #{oId,jdbcType=INTEGER},
            </if>
            <if test="oPost != null">
                #{oPost,jdbcType=TINYINT},
            </if>
            <if test="oPrice != null">
                #{oPrice,jdbcType=DECIMAL},
            </if>
            <if test="oDate != null">
                #{oDate,jdbcType=TIMESTAMP},
            </if>
            <if test="oStatus != null">
                #{oStatus,jdbcType=TINYINT},
            </if>
            <if test="oMessage != null">
                #{oMessage,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="sellerId != null">
                #{sellerId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.weitao.bean.Order">
        update order
        <set>
            <if test="oPost != null">
                o_post = #{oPost,jdbcType=TINYINT},
            </if>
            <if test="oPrice != null">
                o_price = #{oPrice,jdbcType=DECIMAL},
            </if>
            <if test="oDate != null">
                o_date = #{oDate,jdbcType=TIMESTAMP},
            </if>
            <if test="oStatus != null">
                o_status = #{oStatus,jdbcType=TINYINT},
            </if>
            <if test="oMessage != null">
                o_message = #{oMessage,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="sellerId != null">
                seller_id = #{sellerId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                store_id = #{storeId,jdbcType=INTEGER},
            </if>
        </set>
        where o_id = #{oId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.weitao.bean.Order">
        UPDATE order
        SET o_post    = #{oPost,jdbcType=TINYINT},
            o_price   = #{oPrice,jdbcType=DECIMAL},
            o_date    = #{oDate,jdbcType=TIMESTAMP},
            o_status  = #{oStatus,jdbcType=TINYINT},
            o_message = #{oMessage,jdbcType=VARCHAR},
            user_id   = #{userId,jdbcType=INTEGER},
            seller_id = #{sellerId,jdbcType=INTEGER},
            store_id  = #{storeId,jdbcType=INTEGER}
        WHERE o_id = #{oId,jdbcType=INTEGER}
    </update>

    <!--根据用户id查询待发货订单-->
    <select id="selectByUser1" parameterType="int" resultType="com.weitao.bean.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `order`
        WHERE user_id=#{value} AND o_status='1'
    </select>

    <!--根据用户id查询已发货订单-->
    <select id="selectByUser2" parameterType="int" resultType="com.weitao.bean.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `order`
        WHERE user_id=#{value} AND o_status='2'
    </select>

    <!--根据用户id查询已签收订单-->
    <select id="selectByUser3" parameterType="int" resultType="com.weitao.bean.Order">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `order`
        WHERE user_id=#{value} AND o_status='3'
    </select>


    <!--By CC-->
    <!--生成订单，返回刚刚生成的主键-->
    <insert id="insertAndGetId"  parameterType="com.weitao.bean.Order">
        <selectKey keyProperty="oId" resultType="int" order="AFTER">
            SELECT last_insert_id()
        </selectKey>
        insert into `order`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="oId != null">
                o_id,
            </if>
            <if test="oPost != null">
                o_post,
            </if>
            <if test="oPrice != null">
                o_price,
            </if>
            <if test="oDate != null">
                o_date,
            </if>
            <if test="oStatus != null">
                o_status,
            </if>
            <if test="oMessage != null">
                o_message,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="sellerId != null">
                seller_id,
            </if>
            <if test="storeId != null">
                store_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="oId != null">
                #{oId,jdbcType=INTEGER},
            </if>
            <if test="oPost != null">
                #{oPost,jdbcType=TINYINT},
            </if>
            <if test="oPrice != null">
                #{oPrice,jdbcType=DECIMAL},
            </if>
            <if test="oDate != null">
                #{oDate,jdbcType=TIMESTAMP},
            </if>
            <if test="oStatus != null">
                #{oStatus,jdbcType=TINYINT},
            </if>
            <if test="oMessage != null">
                #{oMessage,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="sellerId != null">
                #{sellerId,jdbcType=INTEGER},
            </if>
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>