<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weitao.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.weitao.bean.User">
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_tel" jdbcType="VARCHAR" property="uTel" />
    <result column="u_address1" jdbcType="VARCHAR" property="uAddress1" />
    <result column="u_address2" jdbcType="VARCHAR" property="uAddress2" />
    <result column="u_address3" jdbcType="VARCHAR" property="uAddress3" />
    <result column="u_icon" jdbcType="VARCHAR" property="uIcon" />
    <result column="u_sex" jdbcType="VARCHAR" property="uSex" />
    <result column="u_username" jdbcType="VARCHAR" property="uUsername" />
  </resultMap>
  <sql id="Base_Column_List">
    u_id, u_password, u_tel, u_address1, u_address2, u_address3, u_icon, u_sex, u_username
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
<!--注册用户-->
  <insert id="insertSelective" parameterType="com.weitao.bean.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="uTel != null">
        u_tel,
      </if>
      <if test="uAddress1 != null">
        u_address1,
      </if>
      <if test="uAddress2 != null">
        u_address2,
      </if>
      <if test="uAddress3 != null">
        u_address3,
      </if>
      <if test="uIcon != null">
        u_icon,
      </if>
      <if test="uSex != null">
        u_sex,
      </if>
      <if test="uUsername != null">
        u_username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uTel != null">
        #{uTel,jdbcType=VARCHAR},
      </if>
      <if test="uAddress1 != null">
        #{uAddress1,jdbcType=VARCHAR},
      </if>
      <if test="uAddress2 != null">
        #{uAddress2,jdbcType=VARCHAR},
      </if>
      <if test="uAddress3 != null">
        #{uAddress3,jdbcType=VARCHAR},
      </if>
      <if test="uIcon != null">
        #{uIcon,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uUsername != null">
        #{uUsername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.weitao.bean.User">
    update user
    <set>
      <if test="uPassword != null">
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uTel != null">
        u_tel = #{uTel,jdbcType=VARCHAR},
      </if>
      <if test="uAddress1 != null">
        u_address1 = #{uAddress1,jdbcType=VARCHAR},
      </if>
      <if test="uAddress2 != null">
        u_address2 = #{uAddress2,jdbcType=VARCHAR},
      </if>
      <if test="uAddress3 != null">
        u_address3 = #{uAddress3,jdbcType=VARCHAR},
      </if>
      <if test="uIcon != null">
        u_icon = #{uIcon,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uUsername != null">
        u_username = #{uUsername,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weitao.bean.User">
    update user
    set u_password = #{uPassword,jdbcType=VARCHAR},
      u_tel = #{uTel,jdbcType=VARCHAR},
      u_address1 = #{uAddress1,jdbcType=VARCHAR},
      u_address2 = #{uAddress2,jdbcType=VARCHAR},
      u_address3 = #{uAddress3,jdbcType=VARCHAR},
      u_icon = #{uIcon,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=VARCHAR},
      u_username = #{uUsername,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  
  <select id="selectByUserName" parameterType="String" resultType="com.weitao.bean.User">
    SELECT * FROM user WHERE u_username=#{arg0}
  </select>


</mapper>